<footer class="text-center h4">
    <p>Copyright 2020 Food Recipe| <a target="_dilkash" href="https://dilkashshaikhmahajan.co.in/">Dilkash Shaikh
            Mahajan</a></p>
</footer>
<!-- bootstrap script tag -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>